body{
    background-color: #262626;
}  

#videoTag{
    height:35px;
    width:60%;
    background-color:#ccc;
    border-radius: 8px;
    align-content: center;
}

.meeting-record{
    height:25px;
    width:25px;
    margin:0px 5px;
    border-radius: 20px;
   align-content: center;
}

.main-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 15px;

}

.img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#teacher-img {
    width: 60%;
    height: 400px;
    border-radius: 10px;
    margin:0px 0px;
    height:fit-content;
}

#search-container {
    width: 40%;
    height:600px;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 20px; 
}

#mikeMute{
    height:20px;
    width:20px;
    margin:0px 5px;
    border-radius: 40px;
}

#addPeople{
    height:20px;
    width:20px;
    margin:0px 5px;
    border-radius: 40px;
}  

#search-input{
    height:30px;
    width:300px;
    margin:30px 30px;
}

#people-list{
    display: block;
}

.Mute-people{
    height:fit-content;
    width:130px;
    background-color: rgb(164, 164, 252);
    display:inline-block;
    border-radius: 20px;
    border: none;
    margin:5px 20px;
    padding:5px 10px;
    align-content: center;

}    